<h2>It’s often a requirement in various projects to convert numbers from decimal to text representations of several other bases, such as hexadecimal or binary.
Did you know you can convert to any base from 2 to 36 in one line in Ruby?
Using the Fixnum#to_s method, you can quickly convert any Fixnum object to the textual format of another base:<br>
255.to_s(36) #=> "73"<br>
255.to_s(16) #=> "ff"<br>

In below example, we are getting decimal output after conversion.
Coverting "1000".to_i(16) to decimal will give:
<%= "1000".to_i(16)  %>
</p>
