html, body, {
    top:0;
    bottom:0;
    left:0;
    right:0;
    border: 0;
    overflow: hidden;
}

#container  {
    width:100%;
    min-width:1000px;
    height:auto;
    overflow-y: scroll;
}

#header	{
height: 8em;
padding-top: 1em;
position: relative;
background: url('/assets/download.jpeg') repeat-y 0 0;
background-size: cover;
border-bottom: 4px solid #000000;
overflow: auto;
}

#header h1  {
     width: 100%;
	text-align: center;
	font-weight: bold;
    font-family: 'Cagliostro', sans-serif;
    font-size: 70px;
    color: #ffffff;
}

#header a  {

color: #ffffff;
text-decoration: underline;
font-weight: bold;
font-family: Verdana;
font-size: 14px;

}

#header a:visited  {

color: #ffffff;
text-decoration: underline;
font-weight: bold;

}

#header a:hover  {

color: #cc0000;
text-decoration: none;
font-weight: bold;

}

#content{
	position: relative;
	height: 100%;
	margin: 0 auto;
	padding: 10px;
	overflow: scroll;
}

.HorizLinks  {

position: absolute; 
bottom: 10px;
right: 40px;
font-weight: bold;
}

.HorizLinks ul { 

margin: 0px; 
float: right;

}

.HorizLinks li {

color: #ffffff;
margin: 0px 15px 0px 0px;
list-style-type: none;
display: inline;
font-weight: bold;
	
}

#horizontalnav  {

width: 100%;
height: 50px;
position: relative;
font-weight: bold;
border-bottom: 2px solid #000000;
background-image: url('/assets/Iphone-6-Vertical-Background.png');
}

.navlinks  {

position: absolute; bottom: 10px; left: 240px; 

}

.navlinks ul { 

margin: auto;

}

.navlinks li {

margin: 0px 18px 0px 0px;
list-style-type: none;
display: inline;
	
}

.navlinksleft li
{
	list-style-type: none;
}

.navlinksleft li a
{
	position: relative;
	top: 30px;
	padding: 10px;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
	font-weight: bold;
    font-family: 'Cagliostro', sans-serif;
}

.navlinks li a {

color: #000000;
padding: 5px 12px 7px;
text-decoration: none;
font-size: 16px;
font-family: Verdana;

}

.navlinks li a:hover{

color: #ffffff;
background-image: url('/assets/BGhover.jpg');
 /*If you want to use a color for the background instead replace above line with background-color: [insert color here with # sign in front];*/
text-decoration: underline;


}


#header p  {

color: #000000;
font-family: Arial;
font-weight: bold;

}

.smalltext   {

font-size: 9px;
font-family: Arial;

}


#leftnav {

float: left;
width: 120px;
height: 700px;
background-image: url('/assets/Iphone-6-Vertical-Background.png');
border-right: 1px dashed #694717;
overflow: auto;

}
		

#rightnav  {

float: right;
width: 120px;
height: 450px;
background-color: #F8AA3C;
border-left: 1px dashed #694717;

}

#footer  {
position: absolute;
clear: both;
left: 0;
right: 0;
bottom: 0;
width: 100%;
height: 5em;
background: url('/assets/footerbackground.jpg') repeat-y 0 0;
background-size: cover;
}

#footer p {
   position: relative;
   top: 20px;
   font-size: 16px;
   color: #ffffff;
   text-align: center;
   font-family: Verdana;
}


.box  {
box-sizing: border-box;
position: relative;
left: 40px;
margin-top: 10px;
padding: 2px 2px 2px 2px;
background-color: #FFDAB9;
border: 1px solid #d22929;
width: 1340px;
height: 550px;
color: #000000;
overflow: auto;

}

h2  {

font-size: 20px;
color: #cc0000;
padding: 10px;
font-family: Verdana;

}


